html,body {
    margin: 0;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 241, 241);
}
.inicio {
    height: 100vh;
    background: url("../img/capa.jpg") center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo_inicio {
    width: 100%;
    text-align: center;
    color: white;
}
.centro {
    display: grid;
    height: 100vh;
}
.centro h2 {
    height: 30px;
}
.container {
    display: grid;
    place-items: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 80vw;
}
.post img {
    width: 75px;
}
footer{
    padding-top: 50px;
}
.post {
    width: 375px;
    padding: 40px 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    height: 150px;
}
.download {
    padding: 14px 23px;
    color: white;
    background-color: deepskyblue;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}
#direitos {
    margin-top: auto;
    margin-bottom: 0;
    padding: 5px 0;
    background-color: lightgray;
    text-align: center;
}